.container {
  margin-top: 30px;
}

.loading-wrapper {
  width: 100vw;
  height: 100vh;
  background-color: #d3d3d3;
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
}
.lds-dual-ring {
  display: inline-block;
  width: 100px;
  height: 100px;
}
.lds-dual-ring:after {
  content: ' ';
  display: block;
  width: 84px;
  height: 84px;
  margin: 8px;
  border-radius: 50%;
  border: 6px solid #fff;
  border-color: #fff transparent #fff transparent;
  animation: lds-dual-ring 1.2s linear infinite;
}
@keyframes lds-dual-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.collection-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.collection-item:hover {
  cursor: pointer;
}
.material-icons {
  cursor: pointer;
}
.collection-item:hover > i {
  opacity: 1;
  cursor: pointer;
}

.collection-item > i {
  opacity: 0;
}
.vote-box > .material-icons:last-child {
  opacity: 0;
}
.collection-item:hover > .vote-box > .material-icons:last-child {
  opacity: 1;
  cursor: pointer;
}
.vote-box {
  display: flex;
  align-items: center;
}
.vote-box > i.material-icons {
  margin-right: 5px;
}
